.swiper {
  width: 90%;
  padding: 100px 0px;
  height: 90%;
}

.swiperSlide img {
  width: 90px;
  height: 90px;
  opacity: 0.7;
}

.activeSlide {
  transform: scale(1.2);
}

.activeSlide img {
  opacity: 1;
  width: 100px;
  height: 100px;
}

/* Responsive styles for small screens */
@media (max-width: 690px) {
  .swiper {
    width: 100%;
    height: auto;
  }

  .swiperSlide img {
    width: 100%;
    height: auto;
  }
}
