@import "@font/nunito";

/* or get specific weights only */
@import "@font/nunito/regular";
:root {
  --fontWeight-nunito-light: 300;
  --fontWeight-nunito-regular: 400;
  --fontWeight-nunito-bold: 700;
  --fontFamily-nunito: 'Nunito', sans-serif;
}
body {
  margin: 0;
  font-family:var(--fontFamily-nunito) , BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--fontFamily-nunito) ,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
